
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" (click)="SelectType(1)">FireBase</button>
                <button type="button" class="btn btn-secondary" (click)="SelectType(2)">Json Server</button>
                <button type="button" class="btn btn-secondary" (click)="SelectType(3)">Json File</button>
             </div>
        </div>
    </div>
</div>
